<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit movie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
     <style>
        .nav-link {
            margin-right: 20px; 
            font-size: 1.1rem; 
        }
        .nav-item{
            font-weight: bold;
        }
        .form-container {
            width:75%;
            margin-top: 50px;
        }
        .form-heading {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .form-group label {
            font-weight: bold;
        }
        .form-group input, .form-group textarea {
            font-size: 1rem;
        }
        .form-group .input-group-text {
            background-color: white;
            border-right: none;
        }
        .form-group .form-control {
            border-left: none;
        }
        .form-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #reports{
            margin-top:2px; 
            font-weight:bold; 
            color: #808080; 
            font-size:1.1rem;
        }
        #admin{
            margin-top: 8px; 
            font-weight: bold; 
            font-size:1.1rem;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="/images/logo-transparent.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/movie/movie-listing-page">Movies</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users/user-listing-page">Users</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users/plan-listing-page">Subscription Plans</a></li>
                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="reports">Reports</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Revenue Report</a>
                            <a class="dropdown-item" href="#">Monthly View Count</a>
                            <a class="dropdown-item" href="#">Monthly Subscription Report</a>
                            <a class="dropdown-item" href="#">Movie Rating Report</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="admin"><i class="fas fa-user"></i> Admin</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Change Password</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="form-container">
            <div class="form-heading">Edit Movie</div>
            <form method="post" action="/movie/movie-update/<%= movie._id %>">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="<%= movie.title %>">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" name="description"><%= movie.description %></textarea>
                </div>
                <div class="form-group">
                    <label for="thumbnail">Thumbnail</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="thumbnail" name="thumbnail" value="<%= movie.thumbnail %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="video">Video</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="video" name="video" value="<%= movie.video %>">
                    </div>
                </div>
                <% if (error) { %>
                    <div class="alert alert-danger">
                        <p>Error(s):</p>
                        <ul>
                            <% Object.values(error).forEach(err => { %>
                                <li><%= err.message %></li>
                            <% }); %>
                        </ul>
                    </div>
                <% } %>
                <div class="form-actions">
                    <a href="/movie/movie-listing-page" class="btn btn-secondary" id="button">Cancel</a>
                    <button type="submit" class="btn btn-primary px-3">Save</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
